rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /banner/{fileId} {
      allow read: if true;
      allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
		match /news/img/{fileId}{
    	allow read: if true;
    	allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /downloads/{fileId}{
      allow read: if true;
    	allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /private_downloads/{fileId}{
    	allow read, write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /awards/img/{fileId}{
      allow read: if true;
    	allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /contact/{fileId}{
      allow read: if true;
      allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /gallery/img/{fileId}{
      allow read: if true;
      allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /members/img/{fileId}{
      allow read: if true;
      allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /research/{fileId}{
      allow read: if true;
      allow write, update, create, delete: if firestore.get(/databases/(default)/documents/Users/$(request.auth.uid)).data.isAdmin == true;
    }
  }
}
